<div class="viewer" style="width:100%;height:100%;">
  <ngx-doc-viewer
    *ngIf="formatType && viewer === 'google'"
    [url]="docData"
    viewer="google"
    disableContent="popout-hide"
    googleCheckContentLoaded = true
    googleCheckInterval = 3000
    (loaded)="loaded()"
    style="width:100%;height:100%;"
  ></ngx-doc-viewer>

  <ngx-doc-viewer
    *ngIf="formatType && viewer === 'pdf'"
    [url]="docData"
    viewer="pdf"
    disableContent="all"
    style="width:100%;height:100%;"
  ></ngx-doc-viewer>

  <ngx-doc-viewer
    *ngIf="formatType && viewer === 'office'"
    [url]="docData"
    viewer="google"
    disableContent="popout-hide"
    style="width:100%;height:100%;"
  ></ngx-doc-viewer>

  <ngx-doc-viewer
    *ngIf="formatType && viewer === 'mammoth'"
    [url]="docData"
    viewer="mammoth"
    style="width:100%;height:100%;"
  ></ngx-doc-viewer>

</div>

