<div>
  <button (click)="showExample(formatPdfurl, dataPdfUrl)">
    MOSTRA PDF URL
  </button>
  <button (click)="showExample(formatPdfBase64, pdfbase64)">
    MOSTRA PDF BASE64
  </button>
  <button (click)="showExample(formatPdfBase64, dataPdfUrl)">
    MOSTRA PDF BASE64 DA URL
  </button>
  <button (click)="showExample(formatDocxUrl, dataDocxUrl)">
    MOSTRA DOCX URL
  </button>
  <button (click)="showExample(formatDocxBase64, docxbase64)">
    MOSTRA DOCX BASE64
  </button>
  <button (click)="showExample(formatDocxBase64, dataDocxUrl)">
    MOSTRA DOCX BASE64 DA URL(cors permission needed)
  </button>
</div>

<hr>

{{'Tipologia di visualizzatore scelta: ' + this.viewer}} <br>
{{'Formato del documento: ' + this.formatType}} <br>
{{'Data: ' + this.data}} <br>

<hr>

<div style="width: 50vw; height: 50vh">
  <app-document-viewer
    [formatType]="formatType"
    [docData]="data"
    (choosedViewer)="viewer = $event"
  ></app-document-viewer>
</div>
